@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphic-txt-color: hsl(167, 40%, 24%);
    --photo-txt-color: hsl(198, 62%, 26%);
    --footer-color: hsl(168, 34%, 41%);
    --darkest: hsl(212, 27%, 19%);
    --dark: hsl(213, 9%, 39%);
    --medium: hsl(232, 10%, 55%);
    --light: hsl(210, 4%, 67%);

}

* {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.75rem;
    font-weight: 800;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero {
    width: 100vw;
    height: 85vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#hero-img-mobile {
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
}

#hero-img-dsk {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    object-position: bottom center;
    max-height: 90vh;
    bottom: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

#logo {
    height: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-links>a {
    text-decoration: none;
    color: white;
}

#contact-btn {
    padding: 0.75rem 1.25rem;
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    color: var(--darkest);
    font-family: 'Fraunces', serif;
    transition: all 0.2s ease;
}

#contact-btn:hover {
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
    color: white;
}

.hamburger {
    display: none;
}

.hero>h1 {
    letter-spacing: 0.5rem;
    color: white;
    text-align: center;
}

#down-arrow {
    height: 6rem;
    width: 1.7rem;
    align-self: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12rem;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    width: 100vw;
    height: auto;
}

.info-grid>div {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info-grid>div>img {
    min-height: 100%;
    min-width: 100%;
}

.txt-cell {
    padding: 7rem;
}

h2 {
    color: var(--darkest);
    font-family: 'Fraunces', serif;
    font-size: 2.25rem;
    padding-right: 1rem;
}

p {
    color: var(--medium);
    line-height: 1.5rem;
    padding-right: 1rem;
}

.learn-more-btn {
    align-self: flex-start;
    font-family: 'Fraunces', serif;
    background: none;
    border: none;
    text-decoration: underline hsla(51, 100%, 49%, 0.4) solid 5px;
    transition: all 0.2s ease;
}

.learn-more-btn:hover {
    cursor: pointer;
    text-decoration-color: hsla(51, 100%, 49%, 1);
}

.right-btn {
    text-decoration: underline hsla(7, 99%, 70%, 0.4) solid 5px;
}

.right-btn:hover {
    text-decoration-color: hsla(7, 99%, 70%, 1);
}

.overlay-txt {
    position: absolute;
}

h3 {
    font-size: 1.5rem; 
    font-family: 'Fraunces', serif;
    text-align: center;
}

.graphic-header,
.graphic-cell>div>p {
    color: var(--graphic-txt-color);
    text-align: center;
}

.photo-header,
.photography-cell>div>p {
    color: var(--photo-txt-color);
    text-align: center;
}

.photography-cell, .graphic-cell {
    position: relative;
}

.overlay-txt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 9rem;
    position: absolute;
    bottom: 4rem;
}

.testimonials {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 3rem;
    gap: 5rem;
}

.testimonial-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.testimonial-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    gap: 3rem;
}

.testimonial-entry>p {
    color: var(--dark);
    text-align: center;
}

.personal-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.name {
    font-family: 'Fraunces', serif;
    color: var(--darkest);
}

.title {
    color: var(--light);
    font-size: 0.8rem;
}

.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

h4 {
    font-family: 'Fraunces', serif;
    color: var(--light);
    letter-spacing: 0.35rem;
}

.gallery-grid {
    display: grid;
    width: 100vw;
    height: 375px;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-img-container {
    width: 100%;
    height: 100%;
}

.gallery-grid>div>img {
    width: 100%;
}

.footer {
    width: 100vw;
    height: 40vh;
    background-color: rgb(123,203,183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#footer-logo {
    filter: invert() hue-rotate();
    opacity: 50%;
    transform: scale(130%);
}

.footer-links {
    display: flex;
    gap: 3rem;
}

.footer-links>a {
    text-decoration: none;
    color: var(--footer-color);
    transition: all 0.2s ease;
}

.footer-links>a:hover {
    color: white;
}

.social-media-icons {
    display: flex;
    gap: 1rem;
    color: var(--footer-color);
    margin-top: 2rem;
}

.fa-brands {
    transition: all 0.2s ease;
}

.fa-brands:hover {
    color: white;
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100%;
    background-color: rgb(123,203,183);
    padding-bottom: 0.5rem;
    color: var(--darkest);
}

.attribution a { 
    color: rgb(15, 94, 74);
    font-size: inherit;
    text-decoration: none;
    transition: all 0.2s ease;
}

.attribution a:hover {
    color: white;
}

@media (max-width: 500px) {
    
    .hero {
        height: 67vh;
    }

    #hero-img-mobile {
        display: block;
        height: 100%;
    }
    
    #hero-img-dsk {
        display: none;
    }
    
    .navbar {
        width: 100%;
    }
    
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5.5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        width: 90%;
        padding: 2rem 1rem;
        z-index: 2;
        border-radius: 10px 0 10px 10px;
        overflow: visible;
        transition: all 0.4s ease;
        width: 0;
        opacity: 0;
    }

    .active-nav {
        opacity: 1; 
        width: 90%
    }

    .nav-links>a {
        color: var(--medium);
    }

    .nav-links:before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 2rem solid white;
        border-right: 0 solid transparent;
        border-left: 2rem solid transparent;
        border-top: 0 solid transparent;
        position: absolute;
        top: -30px;
        right: 0;
        z-index: 10;
    }

    #contact-btn {
        background-color: var(--yellow);
    }
    
    .hamburger {
        display: flex;
        flex-direction: column;
        width: 1.75rem;
        height: 1.75rem;
        position: relative;
        z-index: 100;
    }

    .bar {
        position: absolute;
        top: 45%;
        width: 1.75rem;
        height: 2px;
        background-color: white;
        transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
    }

    #a {
        transform: translateY(-0.5rem);
    } 

    #c {
        transform: translateY(0.5rem);
    }

    .active>#a {
        transform: rotate(45deg);
    }

    .active>#b {
        opacity: 0;
    }

    .active>#c {
        transform: rotate(-45deg);
    }
    
    .hero>h1 {
        font-size: 2.25rem;
    }
    
    #down-arrow {
        top: 15rem;
    }
    
    .info-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .egg-cell {
        grid-row-start: 1;
    }
    
    .info-grid>div>img {
        min-height: unset;
        max-width: 100%;
    }
    
    .txt-cell {
        padding: 3rem 1rem;
    }
    
    h2 {
        text-align: center;
        padding: 0 1rem;
        font-size: 1.85rem;
    }
    
    p {
        text-align: center;
        padding: 0 1rem;
    }
    
    .learn-more-btn {
        align-self: center;
    }
    
    h3 {
        font-size: 1.5rem; 
        font-family: 'Fraunces', serif;
        text-align: center;
    }
    
    .graphic-header,
    .graphic-cell>div>p {
        color: var(--graphic-txt-color);
        text-align: center;
    }
    
    .photo-header,
    .photography-cell>div>p {
        color: var(--photo-txt-color);
        text-align: center;
    }
    
    .photography-cell, 
    .graphic-cell {
        height: 600px !important;
    }
    
    .overlay-txt {
        gap: 2rem;
        padding: 0;
        bottom: 4rem;
    }

    #cherry-img,
    #orange-img {
        object-fit: cover;
        min-height: 100%;
    }
    
    .testimonials {
        padding: 3rem 1.25rem;
        gap: 3rem;
    }
    
    .testimonial-content {
        gap: 3.5rem;
    }
    
    .testimonial-entry {
        gap: 2rem;
    }
    
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .gallery-img-container {
        width: 100%;
        height: 180px;
    }
    
    .footer {
        padding: 2rem 1rem;
    }
    
    #footer-logo {
        filter: invert() hue-rotate();
        opacity: 50%;
        transform: scale(130%);
    }
    
    .footer-links {
        display: flex;
        gap: 3rem;
    }
    
    .footer-links>a {
        text-decoration: none;
        color: var(--footer-color);
        transition: all 0.2s ease;
    }
    
    .footer-links>a:hover {
        color: white;
    }
    
    .social-media-icons {
        display: flex;
        gap: 1rem;
        color: var(--footer-color);
        margin-top: 2rem;
    }
    
    .fa-brands {
        transition: all 0.2s ease;
    }
    
    .fa-brands:hover {
        color: white;
        cursor: pointer;
    }
    
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        width: 100%;
        background-color: rgb(123,203,183);
        padding-bottom: 0.5rem;
        color: var(--darkest);
    }
    
    .attribution a { 
        color: rgb(15, 94, 74);
        font-size: inherit;
        text-decoration: none;
        transition: all 0.2s ease;
    }
    
    .attribution a:hover {
        color: white;
    }
}